*~
/.bundle
/coverage
/log
/tmp
/vendor/bundle
/vendor/install
/erd.png
.DS_Store
*.log

public/assets

/.env.*
/.env

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
